GROQ_API_KEY=
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

HEDERA_ACCOUNT_ID=
HEDERA_PRIVATE_KEY=
HEDERA_TOPIC_ID=
HEDERA_NETWORK=testnet

ESP32_URL=http://192.168.1.3:7070
ESP32_CAM_STREAM_URL=http://192.168.1.2:81/stream
MOBILE_NODE_URL=http://192.168.1.4:7070/data

PUBLIC_HOST_IP=
BACKEND_PORT=8000
FRONTEND_PORT=5173
